<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css"> 

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/pbinit.js"></script>
        <script src="/pingback.js"></script>
    </head>
    <body onload="doSomething();">

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="bookmarks" id="pinboard">
                <h1>Bookmarks</h1>
                <ul id="pinboard_linkroll"><li>Fetching linkroll&#8230;</li></ul>
                <p><a href="http://pinboard.in/u:bcomnes">My Pinboard Bookmarks &raquo;</a></p>
              </div>
            </div>
            
            
            
            <div class="footer">
                <div id="pingback">
                    <ul class="pingback_count" id="post1">
                        <li>Fetching pingbacks&#8230;</li>
                    </ul>
                </div>
                <div id="pingback">
                     <ul class="pingback_count" id="post2">
                         <li>Fetching pingbacks&#8230;</li>
                     </ul>
                 </div>
              </div>

        </div> <!-- /container -->
    </body>
</html>
